DB_HOST=127.0.0.1
DB_PORT=3308
DB_USER=kzstats
DB_PASSWORD=local
# Shown on the home page as "<SERVER_NAME> Leaderboards".
SERVER_NAME=Local KZ
# Leave either of these blank (e.g. DB_KZTIMER_DATABASE=) to hide that section of the site
# entirely if you don't run that plugin.
DB_GOKZ_DATABASE=gokz
DB_KZTIMER_DATABASE=kztimer
